.Bottom-Tab-Nav-Container {
  background-color: #131314;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8vh;
}

.Tab-Nav-Menu-Button-Box {
  flex: 1;
}

.Tab-Nav-Home-Button-Box {
  flex: 0.8;
  position: relative; /* Flip için pozisyon kontrolü */
}

.Tab-Nav-Settings-Button-Box {
  flex: 1;
}

#Button-1, #Button-3 {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-top: solid 2px #323235;
}

#Button-2 {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  width: 100%;
  height: 150%;
  margin-top: -5vh;
  border-top: solid 2px #323235;
  border-radius: 100%;
}

/* İkon boyutları */
#menu-icon {
  width: 3.5vh;
  height: 3.5vh;
}

#home-icon, #qr-icon {
  width: 5.5vh;
  height: 5.5vh;
}

#settings-icon {
  width: 4vh;
  height: 4vh;
}

/* Flip Container: İkonları sarmalayan ana kapsayıcı */
.flip-container {
  perspective: 1000px; /* 3D efekti vermek için gerekli */
  width: 100%;
  height: 100%;
}

.flip-container.flip .flipper {
  transform: rotateY(180deg); /* Yatayda dönme işlemi */
}

.flipper {
  transition: 0.6s; /* Dönme süresi */
  transform-style: preserve-3d; /* 3D görünümü koru */
  position: relative;
  width: 100%;
  height: 100%;
}

/* Ön ve arka yüz */
.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Arka yüzün görünmesini engelle */
}

.front {
  z-index: 2; /* Ön yüz, arka yüzün üstünde */
  transform: rotateY(0deg); /* Başlangıç açısı */
}

.back {
  transform: rotateY(180deg); /* Arka yüz ters dönmüş olarak başlar */
}