.Header-Container {
  background-color: #131314;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
}

#Header-Title {
  text-align: center;
  font-family: TTNorms-Regular;
  font-weight: bold;
}

@font-face {
  font-family: "Regular";
  src: local("TTNorms"),
    url("../../../assets/fonts/TTNorms-Regular.otf") format("truetype");
}